<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="odom_topic"    default="mobile_base_controller/odom"/>
  <arg name="cmd_vel_topic" default="nav_vel"/>
  <arg name="scan_topic" default="scan_raw"/>
  <arg name="map_topic" default="/object_map_server/map"/>

  <arg name="move_base_params" default="/config/move_base/move_base.yaml"/>
  <arg name="recovery_behaviors_params" default="/config/move_base/recovery_behaviors.yaml"/>
  <arg name="global_costmap_plugins_params" default="/config/move_base/global_costmap_plugins.yaml"/>
  <arg name="global_costmap_params" default="/config/move_base/global_costmap.yaml"/>
  <arg name="local_costmap_plugins_params" default="/config/move_base/local_costmap_plugins.yaml"/>
  <arg name="local_costmap_params" default="/config/move_base/local_costmap.yaml"/>
  <arg name="global_planner_params" default="/config/move_base/global_planner.yaml"/>
  <arg name="local_planner_params" default="/config/move_base/local_planner.yaml"/>


  <node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen">
    <remap from="odom"    to="$(arg odom_topic)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <remap from="map" to="$(arg map_topic)"/>

    <rosparam command="load" file="$(arg move_base_params)"/>
    <rosparam command="load" file="$(arg recovery_behaviors_params)"/>

    <rosparam command="load" file="$(arg global_costmap_plugins_params)"/>
    <rosparam command="load" file="$(arg global_costmap_params)"/>

    <rosparam command="load" file="$(arg local_costmap_plugins_params)"/>
    <rosparam command="load" file="$(arg local_costmap_params)"/>

    <rosparam command="load" file="$(arg global_planner_params)"/>
    <rosparam command="load" file="$(arg local_planner_params)"/>
  </node>
</launch>